.businesspage_container {
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.business_view_box {
  width: 53vw;
  background-color: white;
  padding: 1.8vw;
  margin-bottom: 30px;
  border: 0.8px solid rgb(211, 209, 209);
  margin-top: 30px;
  border-radius: 5px;
}

.business_marketor_header > img {
  width: 100%;
  height: auto;
}

.business_marketor_header_container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.business_marketor_header > div {
  margin: 10px;
  margin-top: 16px;

  font-size: 24px;
  font-weight: 600;
  color: rgb(78, 75, 75);
}
.business_marketor_content {
  box-sizing: border-box;
  padding-bottom: 30px;
}
.business_marketor_content > p {
  line-height: 28px;
  font-size: 1rem;
  font-weight: 400;
}
.marketor_email {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
.marketor_email > div {
  width: 70%;
  height: 60px;
  background-color: #a1a1a1;
  color: white;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

.marketor_email > div:hover {
  background-color: rgb(107, 107, 107);
}