* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mypage_container {
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1f2f4;
}
/* profile 구역 */
.mypage_profile {
  display: flex;
  align-items: center;
  width: 65vw;
  border-radius: 5px;
  min-height: 180px;
  background: white;
  border: 1px solid #d1d1d1;
  padding: 32px;
}
.mypage_profile > img {
  width: 120px;
  height: 150px;
  flex: 1;
  border-radius: 20px;
}
.mypage_profile > div {
  height: 150px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  flex: 4;
  position: relative;
}
.mypage_profile > div > div > button:first-child {
  position: absolute;
  right: 0;
  bottom: 60px;
  width: 220px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: #8ab77b;
  border-radius: 10px;
  color: white;
  outline: none;
  z-index: 1;
  cursor: pointer;
}

.mypage_profile > div > div > button:first-child:hover {
  background-color: rgba(152, 201, 136, 0.897);
}
.mypage_profile > div > div > button:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 220px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: #854941;
  border-radius: 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

.mypage_profile > div > div > button:last-child:hover {
  background-color: #f85f23fd;
  color: rgb(236, 236, 236);
}
.mypage_profile_name {
  font-size: 25px;
  font-weight: 700;
  height: 37px;
  line-height: 37px;
}
.mypage_profile_good {
  margin-top: 5px;
  font-size: 12px;
  color: #727585;
}
/* 소개구역 */
.mypage_introduction {
  padding: 20px 10px;
  margin-top: 60px;
  width: 65vw;
  height: 320px;
  /* border-top: 1px solid rgb(143, 141, 141); */
  border-radius: 4px;
  background: white;
  border: 1px solid #d1d1d1;
}
.mypage_introduction_header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}
.mypage_introduction_container {
  display: flex;
  padding-left: 60px;
}
.mypage_introduction_container > div {
  width: 300px;
  margin-top: 20px;
}
.mypage_introduction_container > div > h2 {
  margin-bottom: 40px;
}
.mypage_introduction_container > div > p {
  color: rgb(63, 63, 62);
  margin-bottom: 5px;
  font-size: 20px;
}
.mypage_introduction_container .MuiSvgIcon-root {
  position: relative;
  top: 5px;
  left: -8px;
}
/* 최근활동구역 */
.mypage_service {
  background: white;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  width: 65vw;
  padding: 20px;
  padding-right: 90px;
  margin-top: 60px;
}
.service_list_item {
  /* border: 1px solid black;? */
  padding: 5px;
  color: rgb(63, 63, 62);
  font-size: 20px;
  border-bottom: 1px solid rgb(167, 167, 167);
  margin-bottom: 10px;
  margin-left: 30px;
}

.service_list_item_link > p:hover {
  color: rgb(80, 80, 73);
}
/* 
.service_list_item > h3 {
  border-bottom: 0.1px solid rgb(145, 142, 142);
} */
.service_list_item_link {
  text-decoration: none;
  color: black;
}
/* ? */
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(228, 235, 141, 0.219);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}
.modal {
  width: 460px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 0px 5px 50px 2px rgba(56, 56, 56, 0.3);
  background-color: rgb(144, 206, 170);
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 999;
}
.modal_text_container {
  width: 80%;
  height: 280px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  align-items: center;
  flex-direction: column;
}
.modal_text_container > button {
  margin-top: 20px;
  background-color: #c0e7b6;
  padding: 7px 14px;
}
.close-modal {
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: inherit;
  background-color: black;
  color: white;
  position: absolute;
  right: -30px;
  top: -30px;
}
.close-modal::before,
.close-modal::after {
  content: "";
  position: absolute;
  left: 20%;
  top: 60%;
  transform: rotateZ(45deg);
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: snow;
}
.close-modal::after {
  transform: rotateZ(-45deg);
}
.show {
  opacity: 1;
  pointer-events: auto;
}
