/* grid */
.post_container {
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 0 120px;
}
.post_content {
  grid-column: 1/2;
  grid-row: 1/2;
}
.post_comments {
  grid-column: 1/2;
}
.message_side {
  grid-column: 2/3;
  grid-row: 1/3;
}

/* 타이틀 & 소개 & 글 & 사진 */
.title_container {
  margin-top: 60px;
  display: flex;
}
.post_profile_img {
  width: 80px;
  height: 80px;
}
.introduction_container {
  display: flex;
}
.introduction_container > div {
  margin-right: 100px;
  margin-top: 50px;
}
.text_container > h3 {
  margin-top: 50px;
}
.post_img_container {
  display: flex;
  flex-wrap: wrap;
}
.post_img_container > img {
  margin: 10px;
}

/* 우측 채팅연결 유도박스 */

.for_message_box {
  width: 180px;
  height: 100px;
  border: 1px solid black;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 리뷰 */
.comment_info {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.post_comments > div {
  display: flex;
  margin: 20px;
}
.post_comments > div > span {
  margin-left: 30px;
}
.post_comments > ul {
  padding: 10px;
}
.post_comments > ul > li {
  margin: 20px;
}
