/* grid */
.post_container {
  height: auto;
  display: grid;
  grid-template-columns: 60vw 20vw;
  grid-template-rows: 1fr auto;
  padding: 0 15%;
}
@media (max-width: 950px) {
  .for_message_box {
    display: flex;
    background-color: black;
    flex-direction: column;
  }
}
.post_content {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0 50px;
  margin-right: 15px;
  border-left: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
}
.post_comments {
  grid-column: 1/2;
}
.message_side {
  min-width: 240px;
  margin-right: 50px;
  grid-column: 2/3;
  grid-row: 1/3;
}

/* 타이틀 & 소개 & 글 & 사진 */
.title_container {
  margin-top: 60px;
  display: flex;
}

.post_profile_img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 30px;
}
.post_tag_box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.post_tag_box span {
  margin: 2px;
  padding: 3px 7px;
  border-radius: 8px;
  font-size: 14px;
  background-color: rgb(176, 172, 172);
}
.post_move_btn_box {
  display: flex;
  margin-top: 60px;
  border-bottom: 0.2px solid rgb(201, 196, 196);
}
.post_move_btn_box > button {
  outline: none;
  border: none;
  padding: 0 20px 20px 20px;
  background-color: white;
}
.post_move_btn_box > button:active {
  transform: scale(1.02);
}
.post_move_btn_box .click {
  border-bottom: 2px solid black;
}

.introduction_container {
  display: flex;
}
.introduction_container > div {
  width: 300px;
  margin-top: 70px;
}
.introduction_container > div > h2 {
  margin-bottom: 40px;
}
.introduction_container > div > p {
  color: rgb(63, 63, 62);
  margin-bottom: 5px;
  font-size: 20px;
}

.introduction_container .MuiSvgIcon-root {
  position: relative;
  top: 5px;
  left: -8px;
}
.text_container > h2 {
  margin-top: 60px;
  margin-bottom: 30px;
}
.text_container > div {
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 50vw;
  justify-content: space-between;
}

.text_container > p {
  color: rgb(77, 77, 75);
  font-size: 22px;
  line-height: 30px;
}
.post_img_container {
  display: flex;
  flex-wrap: wrap;
}
.post_img_container > img {
  margin: 10px;
}

/* 우측 채팅연결 유도박스 */

.for_message_box {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(237, 235, 235);
  /* margin: 70px auto; */
  /* margin-right: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 6rem;
}

/* 리뷰 */
.comment_info {
  /* display: flex; */
  justify-content: space-between;
  padding-right: 50px;
}
.comment_info span:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin-right: 50px;
}
.comment_info span:nth-child(2) {
  font-size: 12px;
  color: rgb(84, 83, 83);
}
.review_text {
  padding: 8px 0;
  color: rgb(75, 73, 73);
}
.post_comments > div {
  padding: 50px 0 30px 0;
  margin-top: 30px;
  border-top: 0.2px solid rgb(201, 196, 196);
  border-bottom: 0.2px solid rgb(201, 196, 196);
  /* margin: 20px; */
}
.post_comments ul {
  margin-bottom: 80px;
}

.post_comments li {
  margin: 25px 0;
}
.post_comments > div > span {
  margin-left: 30px;
}
.post_review_more_btn {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  position: relative;
  min-width: 8rem;
  height: 40px;
  font-family: "Nunito", sans-serif;
  outline: none;
  position: relative;
  left: 75%;
}

.post_edit_container {
  display: flex;
  width: 40vw;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .post_edit_container {
    flex-direction: column;
  }
}
.edit_btn {
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

/* 모달 */

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(229, 236, 126, 0.356);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.modal {
  width: 460px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 0px 5px 50px 2px rgba(56, 56, 56, 0.3);
  background-color: rgb(144, 206, 170);
  position: relative;
  overflow: hidden;
  opacity: 1;
  z-index: 999;
}
.modal_text_container {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal {
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  font-family: inherit;
  background-color: black;
  color: white;
  position: absolute;
  right: -30px;
  top: -30px;
}

.close-modal::before,
.close-modal::after {
  content: "";
  position: absolute;
  left: 20%;
  top: 60%;
  transform: rotateZ(45deg);
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: snow;
}

.close-modal::after {
  transform: rotateZ(-45deg);
}

.show {
  opacity: 1;
  pointer-events: auto;
}
