.button__row {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

}

.single__btn {
    /* cursor: pointer; */
    padding: 20px 40px;
    border-radius: 10px;
    margin-left: 20px;

}

.prev {
    background: white;
    
}

.next {
    background :#8AB77B
}

.btn__prev, .btn__next {
    font-size: 16px;
}

.btn__next {
    color: white;
}

.btn__prev {
    color: #8AB77B;
}