.workdes {
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  display: flex;
  /* align-items: center; */
}
@media (max-width: 850px) {
  .workdes__container {
    width: 80vw;
  }
}

/* ! templete ! */
.workdes__container {
  background: white;
  outline: none;
  border: 1px solid #d1d1d1;
  margin-top: 20px;
  margin-bottom: 40px;
}

.workdes__title {
  margin-top: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 20px;
}

.workdes__title__header {
  font-size: 25px;
  padding: 5px;
}

.description__input {
  padding: 10px 15px;
  line-height: 1.42857;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-left: 25px;
  margin-bottom: 10px;
  width: 90%;
  min-height: 150px;
  font-size: 13px;
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.description__input:hover {
  border: solid 2px #8ab77b;
  box-shadow: none !important;
}

.description__input:focus {
  outline: none;
}

.workdes__description {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

.description__details {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.workdes__title > p {
  font-size: 14px;
  margin-top: -5px;
  margin-left: 5px;
  color: rgb(39, 39, 39);
  font-weight: 400;
  margin-bottom: 20px;
}

.description__details__lists {
  list-style-type: disc;
  list-style-position: inside;
  font-weight: 500;
  margin-top: 10px;
}

/* ! optional photo drag and drop ! */
.workdes__imgDrop {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 5px;
}

/* ! Tag Category ! */

.workdes__imgDrop__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.dropZone__container {
  display: flex;
  justify-content: center;
}

.workdes__imgDrop__dropZone {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  color: rgb(15, 15, 15);
  font-weight: 500;
  border: dashed 2px #8ab77b;
  margin-left: -25px;
  width: 95%;
  cursor: pointer;
}

.workdes__imgDrop__dropZone > span {
  color: #8ab77b;
}

.workdes__imgDrop__dropZone:hover {
  background-color: #ececec;
}

.workdes__imgDrop > p {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
  color: rgb(39, 39, 39);
  font-weight: 400;
  margin-bottom: 20px;
}

/* 
.job__hashtag__container {
    
    margin-top: 20px;
    margin-left: 20px;

}

.job__hashtag__container > p, .job__category__content {
    font-size: 15px;
}

.job__hashtag__inputbox {
    padding: 10px 15px;
    line-height: 1.42857;
    width: 70%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-left: 8px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.container__btns {
    display: flex;
    border-top: solid 1px #d1d1d1;;
}
a {text-decoration: none;} */
