.worktitle {
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  display: flex;
  /* align-items: center; */
}

@media (max-width: 850px) {
  .worktitle__container {
    width: 80vw;
  }
}

/* ! templete ! */
.worktitle__title {
  background: white;
  border: 1px solid #d1d1d1;
  margin-top: 20px;
  margin-bottom: 40px;
}

.worktitle__typejob__enter__container {
  padding-left: 20px;
}
.worktitle__headerbox {
  margin-top: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 20px;
  /* margin-left: 20px; */
}

.worktitle__header {
  font-size: 25px;
  padding: 5px;
}

.worktitle__headerbox > p {
  font-size: 14px;
  margin-top: -5px;
  margin-left: 5px;
  color: rgb(39, 39, 39);
  font-weight: 400;
  margin-bottom: 20px;
}

.typejob__enter {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.typejob__input {
  padding: 10px 15px;
  line-height: 1.42857;
  width: 70%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.typejob__input:focus {
  outline: none;
}

.worktitle__typejob__description {
  margin-left: 20px;
  margin-bottom: 40px;
}
.typejob__details {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.typejob__details__lists {
  list-style-type: disc;
  list-style-position: inside;
  font-weight: 500;
  margin-top: 10px;
}

/* ! Work Category ! */
.worktitle__job__category {
  background: white;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  margin-top: 20px;
  margin-bottom: 40px;
}

.job__category__container {
  margin-top: 20px;
  margin-left: 20px;
  /* padding: 5px; */
  margin-bottom: 30px;
}

/* ! Tag Category ! */

.tag__container {
  background: white;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  margin-top: 20px;
  margin-bottom: 40px;
}

.job__category__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.job__hashtag__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.job__hashtag__container {
  margin-top: 20px;
  margin-left: 20px;
}

.job__hashtag__container > p,
.job__category__content {
  font-size: 15px;
}

.job__hashtag__inputbox {
  padding: 10px 15px;
  line-height: 1.42857;
  width: 70%;
  /* border: 1px solid #d1d1d1; */
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.job__location__inputbox {
  padding: 10px 15px 10px 0;
  line-height: 1.42857;
  width: 70%;
  /* border: 1px solid #d1d1d1; */
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.job__location__inputbox > form {
  display: flex;
}
.job__location__inputbox button {
  flex: 1;
  outline: none;
  border: none;
  background-color: rgb(247, 216, 125);
  padding: 12px;
  border: 1px solid #d1d1d1;
  color: rgb(94, 92, 92);
  font-size: 1rem;
}

.job__hashtag__inputbox:focus {
  outline: none;
}

.container__btns {
  display: flex;
  border-top: solid 1px #d1d1d1;
}

.write_location_button {
  padding: 10px 15px;
  line-height: 1.42857;
  width: 70%;
  border: 1px solid #d1d1d1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
