.worktitle {
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  display: flex;
  /* align-items: center; */
}

@media (max-width: 850px) {
  .worktitle__container {
    width: 80vw;
  }
}

/* ! templete ! */
.worktitle__title {
  background: white;
  border: 1px solid #d1d1d1;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 30px;
}
.worktitle__title:last-child {
  position: relative;
}

.update_inner {
  margin-top: 10px;
  padding-left: 20px;
}
.update_inner > button {
  outline: none;
  border: none;
  background-color: rgb(247, 216, 125);
  padding: 10px;
  border: 1px solid #d1d1d1;
  color: black;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.update_inner > button:active {
  transform: scale(1.02);
}
.update_title__headerbox {
  margin-top: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 20px;
  /* margin-left: 20px; */
}

.worktitle__header {
  font-size: 25px;
  padding: 5px;
}

.update_title__headerbox > p {
  font-size: 14px;
  margin-top: -5px;
  margin-left: 5px;
  color: rgb(39, 39, 39);
  font-weight: 400;
  margin-bottom: 20px;
}

.update_input {
  padding: 10px 15px;
  line-height: 1.42857;
  width: 70%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* ! Work Category ! */

.update__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.update__location__container {
  margin-top: 20px;
  margin-left: 20px;
}

.update__location__container > p,
.job__category__content {
  font-size: 15px;
}

.job__hashtag__inputbox {
  padding: 10px 15px;
  line-height: 1.42857;
  width: 70%;
  /* border: 1px solid #d1d1d1; */
  border-radius: 5px;
  margin-left: 8px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.job__location__inputbox {
  padding: 10px 15px 10px 0;
  line-height: 1.42857;
  width: 70%;
  /* border: 1px solid #d1d1d1; */
  border-radius: 5px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.job__location__inputbox > form {
  display: flex;
}
.job__location__inputbox button {
  flex: 1;
  outline: none;
  border: none;
  background-color: rgb(247, 216, 125);
  padding: 12px;
  border: 1px solid #d1d1d1;
  color: rgb(94, 92, 92);
  font-size: 1rem;
}

.update_location_button {
  padding: 10px 15px;
  line-height: 1.42857;
  width: 70%;
  border: 1px solid #d1d1d1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.update_finish_btn {
  padding: 10px 10%;
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  background: #8ab77b;
  color: beige;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
