.workbudget {
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

/* ! templete ! */
.workbudget {
  background: white;
  border: 1px solid #d1d1d1;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.workbudget__title {
  margin-top: 20px;
  border-bottom: 1px solid #d1d1d1;
  padding-left: 20px;
  /* margin-left: 20px; */
}

.workbudget__title__header {
  font-size: 25px;
  padding: 5px;
}

.workbudget__title > p {
  font-size: 14px;
  margin-top: -5px;
  margin-left: 5px;
  color: rgb(39, 39, 39);
  font-weight: 400;
  margin-bottom: 20px;
}

.workbudget__middle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.workbudget__middle {
  margin-left: 20px;
  margin-bottom: 40px;
}

.workbudget__row {
  display: flex;
  justify-content: space-around;
}

.workbudget__row__box:active {
  border: 1px solid #8ab77b;
}

.workbudget__row__box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d1d1d1;
  padding: 50px 0;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 850px) {
  .workbudget__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .workbudget__row__box {
    width: 60%;
    margin-bottom: 25px;
  }
  .workbudget__container {
    width: 80vw;
  }
}

.budget__emoji {
  margin-bottom: 10px;
}

.workbudget__bot {
  margin-left: 20px;
}

.workbudget__bot__header {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

/* ! all contents ! */
.workbudget__bot__input {
  display: flex;
  background-color: #f1f2f4;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  min-height: 40px;
  height: 40px;
  width: 135px !important;
  padding: 10px 19px;
}

/* ! boxes ! */

.workbudget__bot__content__container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.won__input {
  border: none;
  background-color: #f1f2f4;
  height: auto;
  width: 80px;
  height: 25px;
  justify-content: end;
  text-align: end;
  font-size: 18px;
  padding-bottom: 5px;
  color: #5c5c5c;
}

.won__input:focus {
  outline: none;
}
.workbudget__bot__content > p {
  margin-left: 5px;
  font: 15px;
  margin-bottom: 15px;
}
.won {
  margin-left: 10px;
  color: #444444;
  font-weight: 600;
}

.workbudget__bot__to {
  font-size: 13px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 700;
}

.container__btns {
  display: flex;
  border-top: solid 1px #d1d1d1;
}
