.sidebarRow {
    display: flex;
    justify-content:space-between;

    /* flex-direction: row; */
    padding: 10px;

}


/* .Icon:hover {
    border-left: 6px solid  #8AB77B;
} */

.sidebarrow__title {
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 600;
}

.Check {
    color: #8AB77B;
    margin-left: left;

}

