$primary-color: #1df9ba;
$primary-bg-color: #f1f1f1;
$primary-text-color: #222;
$primary-border-color: #e1e1e1;
$error-color: #ff5964;
$ff-primary: 'Roboto', 'sans-serif';



form {
  max-width: 600px;
  margin: 0 auto;


  .tags-input {
    margin-bottom: 15px;

    &.active {

      .tags-input__wrapper {
        border-color: #8AB77B;
      }
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }

    &__wrapper {
      padding: 10px 15px;
    line-height: 1.42857;
    // width: 70%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-left: -20px;
    margin-bottom: 40px;
    margin-top: 20px;
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;

      .tag {
        background-color: $primary-bg-color;
        // padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        margin-right: 5px;
        // margin-bottom: 5px;
        transition: background-color .3s ease;

        i {
          margin-left: 5px;
          cursor: pointer;
        }

        &:hover {
          background-color: darken($primary-bg-color, 10);
        }
      }

      input {
        border: 0;
        outline: 0;
        margin-bottom: 5px;
        padding: 0;
        flex: 1;
        min-width: 80px;
      }
    }
  }

 
  .error {
    padding: 5px 0;
    color: $error-color;
    font-size: 12px;
  }
}