.workreview {
    flex: 0.6;
    flex-direction: column;
    justify-content: center;
    display: flex;  
    
}

/* big section */
.workreview__title {
    background: white;
    border: 1px solid #d1d1d1;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.workreview__description {
    background: white;
    border: 1px solid #d1d1d1;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.workrevview__budget {
    background: white;
    border: 1px solid #d1d1d1;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

/* header */

.workreview__title__header {
    margin-top: 20px;
    border-bottom: 1px solid #d1d1d1;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;

}

.workreview__title__header > h1 {
    font-size: 25px;
    padding: 5px;

}

.workreview__post__now {
    background-color: #8AB77B;
    color: white;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.workreview__post__now:hover {
    background-color: #6aa058;
}

.workreview__container > h1 {
    margin-top: 20px;
    /* margin-bottom: 10px; */
    font-size: 16px;
    padding: 5px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 20px;
}

.workreview__container > p {
    font-size: 16px;
    margin-left: 20px;
    color: rgb(39, 39, 39);
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;

    padding: 5px;
}

.workreview__top {
    font-size: 25px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

/* tag */

.workreview__tag__container {
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    margin-bottom: 40px;
}

.tag__review {
    margin-right: 10px;
    border-radius: 15px;
    color: rgb(65, 65, 65);
    font-weight: 500;
    background-color: #e4e4e4;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}
