.login_container {
  width: 600px;
  height: 600px;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_head {
  margin-bottom: 30px;
}

.login_img {
  margin-top: 3px;
  width: 317px;
  height: 77px;
}
.login_bottom {
  margin-top: 50px;
}
