.budgetslider__price {
  display: block;
  font: 75%/1.5 -apple-system, BlinkMacSystemFont;
  font-weight: 600;
  color: #606770;
}
.budgetslider__range {
  appearance: none;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
}
.budgetslider__range:active,
.budgetslider__range:focus {
  outline: none;
  background-color: #00000065;
}
.budgetslider__range::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  display: block;
  background-color: #8d949e;
  border-radius: 100%;
}
.budgetslider__range:active::-webkit-slider-thumb,
.budgetslider__range:focus::-webkit-slider-thumb {
  background-color: #313131;
}
.budgetslider {
  margin-bottom: 1.5rem;
}
