* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

/* <Feed>component */
.feed_container {
  display: grid;
  place-items: center;
}
.feed_cards {
  align-self: center;
  border: 1px solid black;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.feed_posts {
  width: 85%;
  border: 1px solid black;
}

/* <Card>Component */
.profile-container {
  display: flex;
  margin: 5px;
  border: 1px solid black;
}
.tag-container {
  margin: 5px;
  border: 1px solid black;
}
/* <Listitem>Component */
.list_card {
  border: 1px solid black;
  margin: 5px;
}
.item_top {
  display: flex;
}
.item_top > button {
  margin-left: 400px;
}
/* <Advertise>Component */
.advertise_list {
  margin: 50px 0px;
  padding: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.advertise_list > img {
  border: 1px solid black;
  margin: 0 5px;
}
