* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.feed {
  display: grid;
  place-items: center;
}
.cards {
  align-self: center;
  border: 1px solid black;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.posts {
  width: 85%;
  border: 1px solid black;
}
.postcard {
  border: 1px solid black;
  margin: 5px;
}
.profile-container {
  display: flex;
  margin: 5px;
  border: 1px solid black;
}

.tag-container {
  margin: 5px;
  border: 1px solid black;
}

.intro {
  display: flex;
}

.intro > button {
  margin-left: 400px;
}

.advertise_list {
  margin: 50px 0px;
  padding: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.advertise_list > img {
  border: 1px solid black;
  margin: 0 5px;
}
