* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

/* <Feed>component */
.feed_container {
  background: #f1f2f4;
  display: flex;
  justify-content: center;
}

.feed__container__header {
  display: flex;
  justify-content: center;
  background: #f1f2f4;
}

.feed_cards {
  background: #f1f2f4;
}

.feed__container__header > h2 {
  font-size: 25px;
  margin: 20px 0px;
}

.feed__wrapper {
  flex: 0.7;
  flex-direction: column;
  justify-content: center;
  display: flex;
  background: white;
  border: 1px solid #d1d1d1;

  margin-bottom: 40px;
  border-radius: 5px;
}
/* ! Fixed ! */
.feed_cards {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.feed__cards__next {
  position: relative;
}

.feed__wrapper__header {
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-around;
}
.feed__wrapper__search {
  display: flex;
}

.feed__wrapper__header > h2 {
  margin-top: 25px;
}

.feed__wrapper__search {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.feed__wrapper__search__input {
  padding: 10px 15px;
  line-height: 1.42857;
  border: 1px solid #d1d1d1;
  border-radius: 5px 0px 0px 5px;
  width: 80%;
  font-size: 13px;
}

.feed__wrapper__search__btn {
  padding: 10px 15px;
  background-color: rgb(251, 216, 110);
  border-radius: 0px 5px 5px 0px;
  color: white;
}

/* <Card>Component */
/* .feed_card {
  background-color: #f7f6f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  width: 250px;
  height: 280px;
  position: relative;
}
.feed_profile_container {
  display: flex;
  height: 140px;
  margin: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(189, 185, 185);
}
.feed_profile_container > div:nth-child(1) {
  margin-right: 15px;
}
.feed_profile_container img {
  width: 70px;
  height: 84px;
  border-radius: 50%;
  object-fit: fill;
  margin-bottom: 15px;
}
.feed_tag_container {
  margin: 5px;
  margin-left: 15px;
}
.feed_tag_container button {
  position: absolute;
  bottom: 15px;
  background: #7db8f7;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  width: 110px;
  border-radius: 3px;
}
.feed_profile_text {
  position: relative;
  width: 135px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; }*/

.card__feed {
  background-color: white;
  width: 250px;
  height: 270px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  margin-left: -10px;
  margin-right: 30px;
}
/* !card top! */
.card__top {
  border-radius: 5px 5px 0px 0px;
  display: flex;
  border-bottom: 1px solid #d1d1d1;
}

.card__top__right__wrap {
  display: flex;
}

.card__top__right {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.card__top__right__wrap {
  align-items: baseline;
  display: flex;
}

.card__top__left__img {
  margin: 20px;
}

.card__top__right__likes {
  margin-right: 10px;
  font-size: 14px;
  color: #444444;
}

.card__top__right__km {
  margin-left: 20px;
  margin-top: -20px;
}
/* !card bottom! */

.card__bottom__tags {
  display: flex;
  flex-wrap: wrap;
}

.card__bottom__tags__single {
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px;
  color: rgb(167, 167, 167);
  font-weight: 500;
  background-color: #e4e4e4;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.card__bottom__btn {
  background-color: #8ab77b;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  width: 35%;
  text-align: center;
  margin-top: 20px;
}

.card__bottom__btn > a {
  text-decoration: none;
  color: white;
}

.card__bottom__btn:hover {
  background-color: #6aa058;
}

.feed_profile_text p:nth-child(1) {
  width: 135px;
  position: absolute;
  top: 0;
  word-wrap: break-word;
}

.feed_profile_text p:nth-child(2) {
  position: absolute;
  bottom: 47px;
  font-size: 14px;
  color: rgb(84, 82, 82);
}

.feed_profile_text span {
  position: absolute;
  bottom: 18px;
  font-size: 14px;
  color: rgb(84, 82, 82);
}
.feed_tag_box {
  display: flex;
  flex-wrap: wrap;
}
.feed_tag_box > span {
  margin: 2px;
  padding: 3px 7px;
  border-radius: 8px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
}
*/

/* <Listitem>Component */
.list_card {
  margin: 15px;
  padding-bottom: 5px;
  display: flex;
}
.list_card_left {
  flex: 1.5;
  overflow: auto;
  word-wrap: break-word;
  width: 80%;
  position: relative;
}
.list_card_left_distance {
  position: absolute;
  top: 0;
  margin-left: 10px;
  font-size: 12px;
  color: rgb(66, 65, 65);
}
.list_card_left img {
  width: 50px;
  height: 60px;
  object-fit: fill;
  border-radius: 50%;
}
.list_card_tag_box {
  /* border: 1px solid black; */
  margin-top: 5px;
  display: flex;
  /* width: 170px; */
  flex-wrap: wrap;
}
.list_card_tag_box p {
  margin-right: 10px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgb(110, 166, 251);
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.list_card_right {
  flex: 3;
  border-left: 0.5px solid rgb(210, 206, 206);
  padding-left: 7px;
}
.list_card_right p {
  /* width: 300px; */
  margin-bottom: 10px;
}

/* <Advertise>Component */
/* .advertise_list {
  margin: 50px 0px;
  padding: 5px;
  border: 1px solid black;
  overflow: hidden;
} */

.advertise_list > img {
  /* border: 1px solid black; */
  width: 260px;
  height: 70px;
  margin-right: 17px;
}
/* logoslide */
.advertise_wrapper {
  margin-top: 70px;
  position: relative;
  overflow: hidden;
  width: 100%;
  /* border: 1px solid black; */
  height: 160px;
  display: flex;
}
.advertise_list {
  position: absolute;
  display: flex;
  left: 0;
  height: 100%;
  animation: slideshow 9s linear infinite;
}
@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.advertise_wrapper::before,
.advertise_wrapper::after {
  background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 4.8rem;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.advertise_wrapper::after {
  right: 0px;
  top: 0px;
  transform: rotateZ(180deg);
}
/* 구조연습? */
.feed_posts {
  display: flex;
}

.see__more__container {
  text-align: center;
  margin: 10px 0 10px 0;
  font-weight: 700;
  cursor: pointer;
}
