.listitem {
    border-bottom: 1px solid #d1d1d1;
}
.listitem__list__top {
    display: flex;
}

.listitem__list__top__left {
    margin-left: 10px;
    margin-top: 20px;
}

.listitem__list__top__left > h4 {
    color: #8AB77B;
    font-size: 14px;
}

.listitem__list__top__left > h3 {
    font-size: 18px;
    margin-top: -4px;
}

.listitem__list__top__left > p {
    font-size: 12px;
    margin-top: -2px;
    font-weight: 500;
    color: gray;
}

.listitem__list__price {
    margin-top: -10px;
    margin-left: 20px;
    font-size: 16px;
}

.lisstitem__list__bottom {
    margin-left: 20px;
    font-size: 14px;
    margin-right: 20px;
}

.list_card_tag_box {
    margin-bottom: 20px;
}