/*  ! SECTION STARTS HERE ! */

.section {
    padding: 3.75rem 24px 0;
    overflow: hidden;
}

.section, .section>.container, .title-decor, sub, sup {
    position: relative;
}

* {
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

section {
    display: block;
}

body {

    color: #232323;

}

:after, :before {
    box-sizing: border-box;
}

.slick-slider, :after, :before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:after, :before {
    box-sizing: border-box;
}


.slick-slider, :after, :before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*  ! CONTAINER STARTS HERE ! */

.section, .section>.container, .title-decor, sub, sup {
    position: relative;
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media screen and (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }    
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    width: 100%;
}

div {
    display: block;
}

.text-center {
    text-align: center;
}



/*  ! HEADER STARTS HERE ! */

header {
    display: block;
}

.section-title {
    font-size: 2.75rem;
    color: #232323;
    margin-top: 0;
    letter-spacing: -.7px;
    margin-bottom: 3.375rem;
    line-height: 1.1;
    font-weight: 400;
}

/*  ! H2 STARTS HERE ! */

.section-title {

    font-size: 2.75rem;
    color: #232323;
    margin-top: 0;
    letter-spacing: -.7px;
    margin-bottom: 3.375rem;
    line-height: 1.1;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section__header {
    text-align: center;
}

/*  ! TEAM STARTS HERE ! */  
/* ? Something WRONG HERE ?  */

.team {
 
  
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto 4.25rem;
}

.partners, .team {
    -webkit-box-pack: center;
}

.home-services .section-header, .team {
    max-width: 90%;
}


/*  ! TEAM MEMBER STARTS HERE ! */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .team-member {
        max-width: 25%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        padding: 0 8px;
    }    
}

.team-member {
    max-width: 20%;
    perspective: 1000px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    padding: 0 15px;
    margin-bottom: 2.25rem;
}


/*  ! CARD STARTS HERE ! */

.card {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

/*  ! CARD FRONT STARTS HERE ! */


/* ? */
.team-member:hover .card {
    transform: rotateY(180deg);
    width: 100%;
    display: block;
} 


.card-back, .card-front {
    width: 100%;
    display: block;
    backface-visibility: hidden;
} 


/*  ! MEMBER IMG STARTS HERE ! */

.team-member__image {
    padding-top: 100%;
    position: relative;
    margin-bottom: 1.25rem;
}

/*  ! MEMBER IMG HOLDER STARTS HERE ! */

.team-member__image .img-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

figure, ul {
    margin: 0;
    padding: 0;
}

/*  !  IMG  STARTS HERE ! */

.team-member__image .img-holder img {
    display: block;
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}


img {
    border-style: none;
}

/*  !  H3  STARTS HERE ! */

.team-member__title {
    font-size: 16px;
    margin-bottom: .25rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*  !  SPAN  STARTS HERE ! */

.team-member__subtitle {
    font-size: 14px;
    color: #8ca5c6;
}

/*  !  CARD BACK  STARTS HERE ! */


.card-back {
    transform: rotateY(180deg);


}




