.header {
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1800px;
}

.header__logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    width: 415px;
    height: 36px;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;

}

.header__links {
    font-weight: 400;
    color:#282828;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    list-style: none;
}
