.chatting_box {
  width: 350px;
  height: 600px;
  position: fixed;
  right: 0;
  bottom: 5px;
  margin: 10px;
  background: rgb(250, 250, 250);
  z-index: 999;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
}
.badge {
  position: fixed;
  z-index: 999;
  width: 35px;
  height: 35px;
  background-color: rgb(248, 71, 39);
  opacity: 95%;
  color: white;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px 40px 90px 40px;
  font-weight: 700;
}

.badge:hover {
  transform: scale(1.1);
}

.fineapple_chat {
  position: fixed;
/* background: transparent; */

  right: 0;
  bottom: 0;
  margin: 40px;
    border: 0;
    outline: 0;
    width: 80px;
    /* filter: drop-shadow(3px 4px 10px rgba(0, 0, 0, 0.438)); */
    z-index: 999;
}

.chatting_btn {
  cursor: pointer;
}
.fineapple_chat:active {
    transform: scale(1, 0.9);
    transition: transform 0.2s color 0.2s;
}
.chat_header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(100deg, #FBD86E 70%, #e9bd3a 100%);
  /* background-color: #8AB77B; */
  border-radius: 30px 30px 0px 0px;
  height: 60px;
  align-items: center;
  color: rgba(255, 255, 255, 0.61);
}

.chat_header_name_container > h4 {
  font-weight: 700;
    margin-top: 10px;
  margin-left: 10px;
  color: white;
}

.chat_header_name_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.chat_header_close {
  margin-right: 15px;
  cursor: pointer;
}

.chat_header_arrow {
  color: rgba(255, 255, 255, 0.61);
}

.chat_header_close:hover, .chat_header_arrow:hover {
  color: white;
}


.conversation {
  flex: 7;
  height: 300px;
  padding: 5px;
  overflow: scroll;
  margin-top: 10px;
  border-bottom: 1px solid #d1d1d1af;
}
.input_send {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.input_send > input {
flex: 3;
  margin: 10px 3px 10px 10px;
  padding-left: 20px;
  border: none;
  line-height: 20px !important;
  font-size: 15px !important;
  color: #444444;
  font-weight: 500;
  background: rgb(250, 250, 250);;
}

.input_send >input:focus {
  outline: none;
}
.input_send_btn {
  flex: 1;
  margin: 0 3px 3px 3px;
  color: #e2e2e2;
}

.input_send_btn:active {
  color: #444444;
}

.chat_you {
  display: flex;
  margin-bottom: 4px;
  flex-direction: column;
  flex: 7;
}
.chat_i {
  display: flex;
  margin-bottom: 4px;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 10px;
}

.chat_you_text {

  background-color: rgba(251, 216, 110, 0.933);
  border-radius: 0px 10px 10px 10px;
  width: fit-content;
  color: #444444;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  padding: 10px;
  max-width: 260px;

}

.chat_you_text_content {
  line-height: 20px !important;
  font-size: 15px !important;
  max-width: 260px;
}

.chat_me_text {
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  color: #444444;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  border-radius: 10px 0px 10px 10px;
}

.chat_me_text_content {
  line-height: 20px !important;
  font-size: 15px !important;
  max-width: 260px;
}
/* .chat_you_text > span {
  font-size: 12px;
  float: right;
  margin: 3px 12px;
} */
/* 
.chat_profile > img{
  height: 40px;
  width: 40px;
  border-radius: 50px;
} */

.chat_profile {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chat_profile_name {
  color: rgb(36, 36, 40);
  font-weight: 700;
  font-size: 13px;
  margin-left: 5px;
}

.chat_profile_sent {
  margin-left: 5px;
  font-size: 11px;
  color: rgb(167, 167, 170);
}







@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0; 
	-webkit-animation:fadeIn ease-in 1;  
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:0.4s;
	animation-duration:0.3s;
}

.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}


.fade-in.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay:1s;
  animation-delay: 1s;
  }