.chatting_box {

  width: 350px;
  height: 400px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  background: rgb(251, 216, 110);
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.badge {
  position: fixed;
  z-index: 999;
  width: 35px;
  height: 35px;
  background-color: rgb(248, 71, 39);
  opacity: 95%;
  color: white;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px 40px 90px 40px;
  font-weight: 700;
}

.fineapple_chat {
  position: fixed;
/* background: transparent; */
  right: 0;
  bottom: 0;
  margin: 40px;
    border: 0;
    outline: 0;
    width: 80px;
    /* filter: drop-shadow(3px 4px 10px rgba(0, 0, 0, 0.438)); */
    z-index: 999;
}

.fineapple_chat:active {
    transform: scale(1, 0.9);
    transition: transform 0.2s color 0.2s;
}
.chat_header {
  flex: 0.6;
  display: flex;
  justify-content: space-between;
}
.conversation {
  flex: 7;

  margin: 3px;
  height: 300px;
  padding: 5px;
  overflow: scroll;
}
.input_send {
  display: flex;
  flex: 1;
  width: 100%;
}
.input_send > input {
  flex: 5;
  margin: 0 3px 3px 3px;
}
.input_send > button {
  flex: 1;
  margin: 0 3px 3px 3px;
}

.chat_you {
  display: flex;
  margin: 4px;
}
.chat_i {
  display: flex;
  margin: 4px;
  flex-direction: row-reverse;
}
.chat_profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}
.chat_profile > span {
  font-size: 12px;
}
.chat_you_text {
  flex: 7;
  background-color: aliceblue;
  margin: 0 20px;
}
.chat_you_text > span {
  font-size: 12px;
  float: right;
  margin: 3px 12px;
}




@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0; 
	-webkit-animation:fadeIn ease-in 1;  
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}


.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
  }