.business__img {
  margin: 50px 0px 50px 0px;
  height: 50%;
  width: 100%;
}

.business {
  display: flex;
  background-color: #080d4a;
  color: rgb(245, 241, 241);
  /* height: 90vh; */
}

.business__left {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 50px;
  align-items: baseline;
  justify-content: center;
}

.business__left__header {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: -10px;
}

.business__left__header__logo {
  height: 45px;
}

.business__left__header__title,
.business__left__content__title__italic {
  font-size: 35px;
  font-weight: 450;
  margin-left: -8px;
  color: #f1f1f1;
  display: flex;
}

.business__left__header__new {
  background-color: #4e55f5;
  height: 20px;
  width: 45px;
  border-radius: 50px;
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  align-items: center;
  padding-left: 9px;
  font-weight: 600;
  font-size: 12px;
}

.business__left__content__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 32px;
  letter-spacing: 2px;
}

.business__left__details__top {
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  line-height: 2rem;
  font-weight: 500;
  width: 480px;
}

.business__left__details__bottom {
  margin-bottom: 2.5rem;
}
.business__left__details__bottom__row {
  font-size: 20px;
  display: flex;
  margin-bottom: 15px;
  line-height: 40x;
}

.business__left__details__bottom__row > .MuiSvgIcon-root {
  color: gray;
  margin-right: 10px;
}

.business__left__btn {
  cursor: pointer;
  width: 310px;
  margin-top: 2rem;
  padding: 15px 44px;
  background-color: #50af70;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
}

.business__left__btn:hover {
  background-color: #399c5a;
}

/* RIGHT  */

.business__right {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.business__right__img__biz {
  width: calc(100% + 10px);
  height: auto;
  margin-left: -20px;
  /* position: absolute; */
}

/* .business__right__img__single__card__component {
    width: calc(20% + 8px);
    position: absolute;
} */

@media (max-width: 1000px) {
  .business {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  .business__left {
    align-items: center;
    justify-content: center;
  }
  .business__left__btn {
    flex-direction: center;
  }
  .business__left__content__title,
  .business__left__details__bottom__row {
    display: none;
  }
  .business__left__details__top {
    width: 85vw;
  }
  .business__right__img__biz {
    width: 70vw;
  }
  .business__right {
    align-items: center;
  }
}
