.getstarted {
    display: flex;
    justify-content: space-around;
    /* width: 1440px;*/
    height: 450px; 
    margin: 10;
    background: linear-gradient(180deg, #8F82A9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(89.73deg, #A9ADED 0.31%, #939FF3 98.62%);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 70px;
    border-radius: 7px;
    justify-content: center;
}

.getstarted__left__header {
    font-size: 60px;
    color: white;
    font-weight: 600;
    margin-bottom: 60px;
}
.getstarted__left {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content:center
}


.getstarted__right {
    display: flex;
    justify-content: space-around;
}

.getstarted__left__btn {
    cursor: pointer;
    padding: 15px 24px;
    width: 150px;
    background-color: #50af70;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.getstarted__left__btn:hover {
    background-color: #399c5a;
}

.getstarted__left__btn:active {
    transform: scale(1, 0.9);
    transition: transform 0.2s color 0.2s;
}

.getstarted__right__img {
    width: 110%;
    height: 120%;
    padding-bottom: 90px;
    filter: drop-shadow(3px 4px 10px rgba(0, 0, 0, 0.25));
}
/* .getstarted {
    height: 400px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstarted__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80vw;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #8F82A9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(89.73deg, #A9ADED 0.31%, #939FF3 98.62%);
    border-bottom: 20px solid white;
    border-radius: 10px;
}


.getstarted__left__header {

}

.getstarted__right {
    height: 400px;
    width: 100%;
}

.getstarted__right__img{
    position: absolute;
} */