.insparation {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.insparation > h1 {
  margin-bottom: 20px;
}
.insp_slide_img {
  width: 230px;
  height: 200px;
}
.insp_profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.insp_profile_container {
  padding: 10px;
  width: 230px;
  display: flex;
  align-items: center;

  /* border: 1px solid black;
  border-top: none; */
}
.insp_profile_container > div {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.insp_profile_name {
  font-size: 13px;
  margin-top: 4px;
  color: rgb(136, 136, 136);
}
.slides li {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
  width: 230px;
}

/* ? */

.insp_wrapper {
  width: 1233px;
  position: relative;
  height: 290px;
  /* border: 1px solid black; */
  overflow: hidden;
}
.slides {
  display: flex;
  position: absolute;
}
.slides > li:not(last-child) {
  margin-right: 20px;
}

.slides > li:active {
  transform: rotate(5deg);
}
.insp_r_deg {
  transform: rotate(2deg);
}
.insp_l_deg {
  transform: rotate(-2deg);
}
