.landing {
  width: 100vw;
  height: 90vh;
  /* background: #FAEBE6; */
  /* background: linear-gradient(90deg, #E8617C 0%, #ECAB5C 70.31%);; */
  /* const colors = ["#FFE2D9", "#00C49F", "#FFBB28", "#eaf0ac"]; */
  background: linear-gradient(90deg, #e2eb84 0%, #a4cec6 90%);
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}

.landing__container {
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 70px;
  margin: -10px 0px 10px 0px;
  font-weight: 500;
  color: rgb(50, 51, 57);
}

.title__container__content{
  color: rgb(50, 51, 57);
  margin-bottom: -10px;
}
.input__container {
  /* padding: .125rem; */
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
  width: 650px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input__container >input:focus {
  outline: none;
}

.btn__search {
  /* background: linear-gradient(
    180deg,
    rgba(119, 80, 228, 0.3) 0%,
    rgba(186, 64, 243, 0.3) 0.01%,
    rgba(44, 114, 196, 0.3) 100%
  ); */
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  line-height: 60px;
  width: 160px;
  height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background:  rgb(53, 51, 47);
}

.btn__search:hover {
  background:  rgb(29, 29, 34);;
  /* background: linear-gradient(
    180deg,
    rgba(119, 80, 228, 0.5) 0%,
    rgba(186, 64, 243, 0.5) 0.01%,
    rgba(44, 114, 196, 0.5) 100%
  ); */
  color: #ffffff;
}

.form__control {
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 1.25rem;
  height: auto;
  color: #323232;
  width: 500px;
  border-radius: 10px;
}

.popular {
  color: #a7a7a7;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.two {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@media (max-width: 768px) {
  .landing {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .input__container {
    width: 400px;
  }
  /* .popular {
    display: none;
  } */
  .title {
    font-size: 50px;
    margin-top: 50px;
  }
  .lady {
    width: 400px;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 950px) {
  .lady {
    display: none;
  }
}
