.rec__header {
    margin-top: 0px;

font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 131.2%;
    padding-left: 20px;
}
.slides__container {
    justify-content: center;
}

.slider__track {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;


}

/* .slider__prev, .slider__next {
    overflow: hidden;
} */

.slide__img {
    width: 230px;
    height: 370px;
    margin: 20px;
    border-radius: 10px;
}

.slide__img:hover {
    transform: scale(1.01);
}
.slides__container {
    display: flex;
    overflow: hidden;
}
.slide__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
}


