.rec__header {
  margin-top: 0px;

  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 131.2%;
  padding-left: 20px;
}
.slides__container {
  justify-content: center;
}

/* .slider__prev, .slider__next {
    overflow: hidden;
} */

.slide__img {
  width: 230px;
  height: 370px;
  /* margin: 20px; */
  border-radius: 10px;
}

.slide__img:hover {
  transform: scale(1.01);
}
.slides__container {
  /* border: 1px solid black; */
  display: flex;
  overflow: hidden;
}

.slide__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0px;
  outline: none;
}

.img__btn:active {
  transform: scale(1.2);
}

.slider_wrapper {
  /* border: 1px solid black; */
  width: 1010px;
  height: 370px;
  overflow: hidden;
  position: relative;
  margin: 30px 30px;
}

.slider__track {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  transition: 0.7s ease-in-out;
}
.slider__track li:not(last-child) {
  float: left;
  margin-right: 30px;
}
