.review {
  margin: 4% auto;
  position: relative;
  height: 340px;
  width: 90vw;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  background-color: rgb(247, 247, 247);
}

.review_listItem {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.review_content {
  margin-left: 30px;
  font-size: 22px;
  line-height: 45px;
}

.hidden {
  opacity: 0;
  /* background-color: black; */
}

.review_slide_img {
  width: 480px;
  height: 280px;
}

.review_listItem {
  display: flex;
  padding: 30px;
  /* border: 1px solid black; */
}

.review_listItem > div > h4 {
  margin: 30px;
  font-size: 2rem;
  font-weight: 500;
}

.review_listItem > div > p {
  margin: 30px;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .review_listItem {
    display: flex;
    flex-direction: column;
  }
  .review {
    height: 600px;
  }
  .review_listItem > div > h4 {
    font-size: 1.5rem;
  }
  .review_listItem > div > p {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  .review_slide_img {
    width: 100%;
    height: auto;
  }
}
